
        <div class="side_navigation">
            <div class="container">
                <div class="checkbox_div">
                    <a href="{% url 'login' %}"></a>
                </div>
                <div class="icon icon1"></div>
            </div>
            <div class="container">
                <div class="checkbox_div">
                    <a class="checkbox_css" href='#'></a>
                </div>
                <div class="icon icon2"></div>
            </div>
            <div class="container">
                <div class="checkbox_div">
                    <a class="checkbox_css" href='#'></a>
                </div>
                <div class="icon icon2"></div>
            </div>
            <div class="container">
                <div class="checkbox_div">
                    <a class="checkbox_css" href='#'></a>
                </div>
                <div class="icon icon2"></div>
            </div>



            <div class="container"></div>
            <div class="container"></div>
            <div class="container"></div>
            <div class="container"></div>
            <div class="container"></div>

        </div>

